<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="HTML,CSS,Portfolio,React,JavaScript,Story,Cool,Developer,Self,Taught,Boostrap,Robotics,Shisanya,Building,App,Web,Software,Python,Goals,Canvas,Inspiring,Lego,TheRigidNinja,Github,Entrepreneurship,Personal,Design">
    <meta name="description" content="A Portfolio here to shine light on my story and my journey towards being a developer and an entrepreneur">
    <meta name="author" content="Brian Shisanya">
    <title>Brian Shisanya | Web Developer</title>
    <link rel="icon" href="../public/IMG/favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../public/CSS/Index.css">
    <link rel="stylesheet" type="text/css" href="../public/CSS/Projects.css">
    <link rel="stylesheet" type="text/css" href="../public/CSS/Navbar.css">
    <link rel="stylesheet" type="text/css" href="../public/CSS/Contact.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../public/JS/ProjectDetails.js"></script>
    <script src="../public/JS/index.js"></script>
    <script src="../public/JS/ShowNavbar.js"></script>

</head>
<body>

    <nav>
        <div class="row text-light">
            <div class="col-12 contactLinks">
                <span><i class="fab fa-github"></i></span>
                <span><i class="fab fa-codepen"></i></span>
                <span><i class="fab fa-linkedin"></i></span>
                <span><i class="far fa-address-card"></i></span>
                <span><i class="fas fa-envelope"></i></span>
            </div>

            <div class="col-sm-12 col-md-6">
                <h2>Home</h2>
                <p>Quick intro to what I'm all about</p>
            </div>
            <div class="col-sm-12 col-md-6">
                <h2>Who I'm I?</h2>
                <p>A detail description of what I'm, My ambitions and what i plan forwad</p>
            </div>
            <div class="col-sm-12 col-md-6">
                <h2>Projects</h2>
                <p>A place showcasing my collest creations to date</p>
            </div>
            <div class="col-sm-12 col-md-6">
                <h2>Get In touch</h2>
                <p>Send me a quick email to discuss more on how i could provide value for you</p>
            </div>
        </div>
        <div id="Filter"></div>
    </nav>
    <img id="menu" src="../public/IMG/menu.svg" onclick="ShowNav(event)">

    <div class="bodyContent">
        <div class="container"> 
            <section class="Home">
                <img src="../public/IMG/Logo.svg">
                <h1 class="text-light">I love to build things!</h1>
                <p class="text-light lead">I'm Brian, a self-taught <mark>developer</mark>. I'm commited to <mark>UX</mark>, <mark>Robotics</mark>,<mark> Web and Software Development</mark>.</p>
                <h3 class="text-light"> I believe in <mark>Entrepreneurship</mark>. I strive to make</h3>
                <h3 class="text-light">a difference in <mark>Software and Robotics</mark>.</h3>

                <button class="text-light contact">Get In Touch</button><br>
                <button class="text-light more">Who I'm I?</button>
                <div class="ConnectLines"></div>
            </section>

            <section class="About">
                <div class="Summary"> 
                    <img src="../public/IMG/home.svg">
                    <h2>Backround</h2>

                    <p> 
                        I love to tinker and build things, it has been alway like that since i can remember, In fact my  favourite toy when i was little was lego. I liked it because i had the freedom to imagine anything and with enough ambition i was capable of turning my idea to reality.
                        This days that toy has translated to programming and playing around with really anything to do with technology.  The most notorious being building web/computer application, working with 3D modeling /animation, and  playing with raspberry pi(“I have the zero w”).
                        <br><br>
                    
                        I like to learn at any given opportunity this is how after all i have been advancing myself, leveraging online resources to sharpen my skills and knowledge has always been my go to ground. Occasionally i like to lose my focus by refuel my imagination and mental energy doing something else commonly being: playing soccer, running, cooking, watching youtube (related to design trends, robotics or even elon musk with his rockets) and anything adventurous. 
                    </p>
                </div>
                
                <div class="col-sm-12 col-md-6"> 
                    <img src="../public/IMG/web-design.svg">
                    <h2>Development</h2>
                    <p> 
                        Just like playing around with lego i love developing applications both web and computer based, I love the challenges they come with, the dynamics of there  designs and finally being around in the full life cycle from the moment i started a mockup to the point of deployment, it's something for me that gets better with bigger and tougher the project. 
                        <br><br>
                        Through developing personal projects it has pushed me to learn and getter better at different technologies, i believe given the opportunity to be apart of something  greater, it would accelerate my skills to industry standard. 
                        Skills: HTML5, CSS3, jQuery, C#, Python, JavaScript ES6 >, React, Nodejs, BootStrap 4,
                        Visual Studio 2017, VS-Code, Version control, Unit-Testing (react, javascript and python), PLC and SDLC process.
                    </p>
                </div>

                <div class="col-sm-12 col-md-6">
                    <img src="../public/IMG/target.svg">
                    <h2>Goals</h2>

                    <ol>
                        <li>
                            <p>   
                                I want to get into the web / software development industry as a way to kick start my career and to work with amazing like minded people for a greater course.
                            </p>  
                        </li>
                        <li>
                            <p>    
                                I want  to collaborate with people especially those in my line of interest, I believe great things can be accomplished given my passion and ambition for the industry.
                            </p>
                        </li>
                        <li>
                            <p>    
                                In the distant future i want to extend my hands, by starting a company to help people by either providing online services or find a solution through a product. As such It is my mission to learn as much as possible from those who already are in the industry and actively practising their crafts.
                            </p>
                        </li>
                    </ol>
                </div>

                <div class="col-12  Overview">
                    <div>
                        <img src="../public/IMG/viewer.svg"> 
                        <h2>Overview</h2> 
                    </div>
                    <p> 
                        I believe my ambition combined with the willingness to learn at a moment notice and the ability to hit the ground running makes me adaptable to most situations in a company and therefore becoming a viable contributor to the team.
                    </p> 
                </div>

                <div class="col-12">
                    <button class="text-light contact">Get In Touch</button>
                </div>
            </section>
        
            <section class="Work">
                
                <h1>Latest Projects </h1>

                <div class="project">
                    <div> 
                        <span class="btn btn-primary">HTML - EJS</span>
                        <span class="btn btn-secondary">NodeJs - Socket.io, Express</span>
                        <span class="btn btn-success">JavaSript</span>
                        <span class="btn btn-danger">Firebase - FireStore(DB)</span>
                        <span class="btn btn-dark">SASS</span>
                    </div>

                    <h3>Chat App</h3>

                    <div class="Button"> 
                        <button>View Source<br><i class="fab fa-github-square"></i></button>
                        <button onclick="ShowProject(event,'ProjectDetails1')">Show Project<br><i class="fas fa-rocket"></i></button>  
                    </div>  
                </div>

                <div class="project">
                    <div> 
                        <span class="btn btn-primary">HTML - EJS</span>
                        <span class="btn btn-secondary">NodeJs - Socket.io, Express</span>
                        <span class="btn btn-success">JavaSript</span>
                        <span class="btn btn-danger">Firebase - FireStore(DB)</span>
                        <span class="btn btn-dark">SASS</span>
                    </div>

                    <h3>This Portfolio</h3>

                    <div class="Button"> 
                        <button>View Source<br><i class="fab fa-github-square"></i></button>
                        <button onclick="ShowProject(event,'ProjectDetails2')">Show Project<br><i class="fas fa-rocket"></i></button>  
                    </div>  
                </div>
                <div class="project">
                    <div> 
                        <span class="btn btn-primary">HTML - EJS</span>
                        <span class="btn btn-secondary">NodeJs - Socket.io, Express</span>
                        <span class="btn btn-success">JavaSript</span>
                        <span class="btn btn-danger">Firebase - FireStore(DB)</span>
                        <span class="btn btn-dark">SASS</span>
                    </div>

                    <h3>Pizza Website</h3>

                    <div class="Button"> 
                        <button>View Source<br><i class="fab fa-github-square"></i></button>
                        <button onclick="ShowProject(event,'ProjectDetails3')">Show Project<br><i class="fas fa-rocket"></i></button>  
                    </div>  
                </div>

                <div class="project">
                    <div> 
                        <span class="btn btn-primary">HTML - EJS</span>
                        <span class="btn btn-secondary">NodeJs - Socket.io, Express</span>
                        <span class="btn btn-success">JavaSript</span>
                        <span class="btn btn-danger">Firebase - FireStore(DB)</span>
                        <span class="btn btn-dark">SASS</span>
                    </div>

                    <h3>App Website</h3>

                    <div class="Button"> 
                        <button>View Source<br><i class="fab fa-github-square"></i></button>
                        <button onclick="ShowProject(event,'ProjectDetails4')">Show Project<br><i class="fas fa-rocket"></i></button>  
                    </div>  
                </div>
                <div class="project">
                    <div> 
                        <span class="btn btn-primary">HTML - EJS</span>
                        <span class="btn btn-secondary">NodeJs - Socket.io, Express</span>
                        <span class="btn btn-success">JavaSript</span>
                        <span class="btn btn-danger">Firebase - FireStore(DB)</span>
                        <span class="btn btn-dark">SASS</span>
                    </div>

                    <h3>City Population</h3>

                    <div class="Button"> 
                        <button>View Source<br><i class="fab fa-github-square"></i></button>
                        <button onclick="ShowProject(event,'ProjectDetails5')">Show Project<br><i class="fas fa-rocket"></i></button>  
                    </div>  
                </div>
                <div class="project">
                        <div> 
                            <span class="btn btn-primary">HTML - EJS</span>
                            <span class="btn btn-secondary">NodeJs - Socket.io, Express</span>
                            <span class="btn btn-success">JavaSript</span>
                            <span class="btn btn-danger">Firebase - FireStore(DB)</span>
                            <span class="btn btn-dark">SASS</span>
                        </div>
    
                        <h3>Defender</h3>
    
                        <div class="Button"> 
                            <button>View Source<br><i class="fab fa-github-square"></i></button>
                            <button onclick="ShowProject(event,'ProjectDetails6')">Show Project<br><i class="fas fa-rocket"></i></button>  
                        </div>  
                    </div> 
                    <div class="project">
                            <div> 
                                <span class="btn btn-primary">HTML - EJS</span>
                                <span class="btn btn-secondary">NodeJs - Socket.io, Express</span>
                                <span class="btn btn-success">JavaSript</span>
                                <span class="btn btn-danger">Firebase - FireStore(DB)</span>
                                <span class="btn btn-dark">SASS</span>
                            </div>
        
                            <h3>Slither Classic</h3>
        
                            <div class="Button"> 
                                <button>View Source<br><i class="fab fa-github-square"></i></button>
                                <button onclick="ShowProject(event,'ProjectDetails7')">Show Project<br><i class="fas fa-rocket"></i></button>  
                            </div>  
                        </div> 
            </section>

            <section class="Contact text-light">
                <i class="fas fa-envelope-open-text"></i>

                <h1>Get In Touch</h1>
                <p>
                    You want to collaborate or have questions?
                    <br>
                    Greate!!
                    <br>
                    Please do get in touch with me. Use the form below or find other ways neccesary; 
                    <br>
                    I won't miss it!
                </p>
                
                <div class="contactLinks">
                    <span><i class="fab fa-github"></i></span>
                    <span><i class="fab fa-codepen"></i></span>
                    <span><i class="fab fa-linkedin"></i></span>
                    <span><i class="far fa-address-card"></i></span>
                    <span><i class="fas fa-envelope"></i></span>
                </div>

                <form>
                    <input type="Name" required>
                    <input type="Subject" required>
                    <textarea placeholder="Message" required></textarea>
                    <button><i class="fas fa-paper-plane"></i></button>
                </form>
            </section>
        </div>
    </div>

    <div class="MoreInfo">
        <div class="Reveal">
            <div class="ProjectDetails1" >
                s
            </div>

            <div class="ProjectDetails2" >
            </div>

            <div class="ProjectDetails3" >
            </div>

            <div class="ProjectDetails4" >
            </div> 

            <div class="ProjectDetails5" >
            </div> 

            <div class="ProjectDetails6" >
            </div>
            
            <div class="ProjectDetails7" >
            </div>              
        </div>
    </div>
    
</body>
</html>