<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="HTML,CSS,Portfolio,React,JavaScript,Story,Cool,Developer,Self,Taught,Boostrap,Robotics,Shisanya,Building,App,Web,Software,Python,Goals,Canvas,Inspiring,Lego,TheRigidNinja,Github,Entrepreneurship,Personal,Design">
    <meta name="description" content="A Portfolio here to shine light on my story and my journey towards being a developer and an entrepreneur">
    <meta name="author" content="Brian Shisanya">
    <title>Brian Shisanya | Web Developer</title>
    <link rel="icon" href="../public/IMG/favicon.ico">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../public/CSS/Index.css">
    <link rel="stylesheet" type="text/css" href="../public/CSS/Projects.css">
    <link rel="stylesheet" type="text/css" href="../public/CSS/Navbar.css">
    <link rel="stylesheet" type="text/css" href="../public/CSS/Contact.css">

    <script src="../public/JS/jQuery-3-3-1.js"></script>
    <script src="../public/JS/SlideDownPage.js"></script>
    <script src="../public/JS/index.js"></script>

</head>
<body>

    <nav>
        <div class="row text-light">
            <div class="col-12 contactLinks">
                <a href="https://github.com/TheRigidNinja?tab=repositories" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/brian-shisanya-7a5a6516a/" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://codepen.io/minotauro49" target="_blank"><i class="fab fa-codepen"></i></a>
                <a href="https://docs.google.com/document/d/1h4KS1pYusOZ5Q56ovvfGQ86N0oafmKD_SWUzvI0iIoE/edit?usp=sharing" target="_blank"><i class="far fa-address-card"></i></a>
                <a href="##"  onclick="ShowEmailPhone()"><i class="fas fa-envelope"></i> &nbsp&nbsp | &nbsp&nbsp<i class="fas fa-phone"></i></a>
            </div>
            <!-- href="https://codepen.io/minotauro49" target="_blank" -->

            <div class="col-sm-12 col-md-6" onclick="Navigate('Home')">
                <h2>Home</h2>
                <p>A quick intro to what I'm all about.</p>
            </div>
            <div class="col-sm-12 col-md-6" onclick="Navigate('About')">
                <h2>Who I'm I?</h2>
                <p>A detail description of what I am, My ambitions and what I plan forward.</p>
            </div>
            <div class="col-sm-12 col-md-6" onclick="Navigate('Work')">
                <h2>Projects</h2>
                <p>A place showcasing my coolest creations to date.</p>
            </div>
            <div class="col-sm-12 col-md-6" onclick="Navigate('Contact')">
                <h2>Get In touch</h2>
                <p>Send me a quick email to say Hi or to discuss more on how I could provide value for you.</p>
            </div>
        </div>
        <div id="Filter"></div>
    </nav>
    <img id="menu" src="../public/IMG/menu.svg" onclick="ShowNav(event)">

    <div class="bodyContent">
        <div class="container"> 
            <section class="Home">
                <div class="intro">
                    <img src="../public/IMG/Logo.svg">
                    <h1 class="text-light">I love to build things!</h1>
                    <p class="text-light lead">I'm Brian, a self-taught <mark>developer</mark>. I'm committed to <mark>UX</mark>, <mark>Robotics</mark>,<mark> Web and Software Development</mark>.</p>
                    <h3 class="text-light"> I believe in <mark>Entrepreneurship</mark>. I strive to make</h3>
                    <h3 class="text-light">a difference in <mark>Software and Robotics</mark>.</h3>

                    <button class="text-light contact1" onclick="Navigate('LContact')">Get In Touch</button><br>
                </div>

                <div class="aboutBtn"> 
                    <button class="text-light more" onclick="Navigate('LAbout')">Who I'm I?</button>
                    <div class="ConnectLines"></div>
                </div>

            </section>

            <section class="About row">
                <div class="Summary col-12"> 
                    <img src="../public/IMG/home.svg">
                    <h1>Backround</h1>
                    <p> 
                        I love to tinker and build things; it has always been like that since I can remember; In fact, my favourite toy when I was little was lego. I liked it because I had the freedom to imagine anything and with enough ambition, I was capable of turning an idea to reality.
                    </p>
                    <p>
                        These days that toy has morphed to programming and robotics. Mostly around building web and desktop applications, working with 3D modelling as well as animations and playing with raspberry pi w.
                    </p>
                </div>

                <div class="Learning row"> 
                    <div class="col-sm-12 col-md-4">
                            <img src="../public/IMG/Developing.svg">
                        </div>
                        <div class="col-sm-12 col-md-8">
                        <p>
                            I like to learn at any given opportunity. After all, this is how I have been advancing myself through the use of online resources. Occasionally I like to unstrain my focus by playing soccer, running, cooking, watching youtube (related to design trends, robotics or even Elon musk with his rockets) and anything adventurous.
                        </p>
                    </div>
                </div>

                <div class="technical">
                <div class="Development row"> 
                    <div class="col-12">
                        <img src="../public/IMG/web-design.svg">
                        <h1>Development</h1>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <p> 
                            Just like playing with lego I love developing applications, I like the challenges, the dynamics of design and of course being around the full cycle of the particular software; from the moment I start a mockup to the point of deployment, it's something for me that gets more certifying the bigger and more robust the project.
                        </p>
                        <p>
                            Through developing personal projects it has pushed me to learn and getter better at different technologies, i believe given the opportunity to be apart of something  greater, it would accelerate my skills to industry standard.
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-6" id="Skils">
                        <h4>Skills</h4>
                        <span>HTML5</span>
                        <span>Unit-Testing (react, javascript and python)</span>
                        <span>C#</span>
                        <span>VS-Code</span>
                        <span>Python</span>
                        <span>Visual Studio 2017</span>
                        <span>JavaScript ES6 ></span>
                        <span>React</span>
                        <span>Nodejs</span>
                        <span>BootStrap 4</span>
                        <span>CSS3</span>
                        <span>Version control</span>
                        <span>jQuery</span>
                        <span>PLC and SDLC process</span>
                    </div>
                </div>

                <div class="Goals row">
                    <div class="col-12">
                        <img src="../public/IMG/target.svg">
                        <h1>Goals</h1>
                    </div>

                    <div class="goal1 col-sm-12 col-md-6">
                        <span>1</span>
                        <div>
                            <h4>Career</h4>
                            <p>
                                Get into the web or software development industry as a way to kick-start my career which also serves as an opportunity to work with amazing like-minded people.
                            </p>
                        </div>
                    </div>

                    <div class="goal2 col-sm-12 col-md-6">
                        <span>2</span>
                        <div> 
                            <h4>Collaboration</h4> 
                            <p> 
                                Collaborate with people especially those in the line of interest, and perhaps great things can be accomplished given my passion and ambition for the industry.
                            </p>
                        </div>
                    </div>

                    <div class="goal3 col-sm-12 col-md-6">
                        <span>3</span>
                        <div> 
                            <h4>Plans</h4> 
                            <p>
                                In the distant future, prepare to start a business to help people by either providing online services or find a solution through a product. As such, it should be your mission to learn as much as possible from those who are already in the industry and actively practising their crafts.
                            </p>
                        </div>
                    </div>

                    <div class="goal4 col-sm-12 col-md-6">
                        <span>4</span>
                        <div> 
                            <h4>Personal</h4> 
                            <p>
                                Train to go Skydiving by yourself and get someone to take a pic of yourself sitting in a simple cross-legged position; meditating.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

                <div class="Overview col-12">
                    <div>
                        <img src="../public/IMG/viewer.svg"> 
                        <h2>Overview</h2> 
                    </div>
                    <p> 
                        I believe my ambition combined with the willingness to learn at a moment notice and the ability to hit the ground running makes me adaptable to most situations in a company and therefore becoming a viable contributor to the team.
                    </p> 

                    <button class="text-light contact2" onclick="Navigate('LContact')">Get In Touch</button>
                </div>
            </section>
            <div class="ConnectLines2"></div>
        
            <section class="Work">
                <h1>Latest Projects </h1>

                <div class="project1">
                    <div> 
                        <span class="btn btn-primary">HTML - EJS</span>
                        <span class="btn btn-secondary">NodeJs - Socket.io, Express</span>
                        <span class="btn btn-success">JavaSript</span>
                        <span class="btn btn-danger">Firebase - FireStore(DB)</span>
                        <span class="btn btn-dark">SASS</span>
                    </div>

                    <h3>Chat App</h3>

                    <div class="Button"> 
                        <button>View Source<br><i class="fab fa-github-square"></i></button>
                        <button onclick="ShowProject('ProjectDetails1')">Show Project<br><i class="fas fa-rocket"></i></button>  
                    </div>  
                </div>

                <div class="project2">
                    <div> 
                        <span class="btn btn-primary">HTML - EJS</span>
                        <span class="btn btn-secondary">NodeJs - Socket.io, Express</span>
                        <span class="btn btn-success">JavaSript</span>
                        <span class="btn btn-danger">Firebase - FireStore(DB)</span>
                        <span class="btn btn-dark">SASS</span>
                    </div>

                    <h3>This Portfolio</h3>

                    <div class="Button"> 
                        <button>View Source<br><i class="fab fa-github-square"></i></button>
                        <button onclick="ShowProject('ProjectDetails2')">Show Project<br><i class="fas fa-rocket"></i></button>  
                    </div>  
                </div>
                <div class="project3">
                    <div> 
                        <span class="btn btn-primary">HTML - EJS</span>
                        <span class="btn btn-secondary">NodeJs - Socket.io, Express</span>
                        <span class="btn btn-success">JavaSript</span>
                        <span class="btn btn-danger">Firebase - FireStore(DB)</span>
                        <span class="btn btn-dark">SASS</span>
                    </div>

                    <h3>Pizza Website</h3>

                    <div class="Button"> 
                        <button>View Source<br><i class="fab fa-github-square"></i></button>
                        <button onclick="ShowProject('ProjectDetails3')">Show Project<br><i class="fas fa-rocket"></i></button>  
                    </div>  
                </div>

                <div class="project4">
                    <div> 
                        <span class="btn btn-primary">HTML - EJS</span>
                        <span class="btn btn-secondary">NodeJs - Socket.io, Express</span>
                        <span class="btn btn-success">JavaSript</span>
                        <span class="btn btn-danger">Firebase - FireStore(DB)</span>
                        <span class="btn btn-dark">SASS</span>
                    </div>

                    <h3>App Website</h3>

                    <div class="Button"> 
                        <button>View Source<br><i class="fab fa-github-square"></i></button>
                        <button onclick="ShowProject('ProjectDetails4')">Show Project<br><i class="fas fa-rocket"></i></button>  
                    </div>  
                </div>
                <div class="project5">
                    <div> 
                        <span class="btn btn-primary">HTML - EJS</span>
                        <span class="btn btn-secondary">NodeJs - Socket.io, Express</span>
                        <span class="btn btn-success">JavaSript</span>
                        <span class="btn btn-danger">Firebase - FireStore(DB)</span>
                        <span class="btn btn-dark">SASS</span>
                    </div>

                    <h3>City Population</h3>

                    <div class="Button"> 
                        <button>View Source<br><i class="fab fa-github-square"></i></button>
                        <button onclick="ShowProject('ProjectDetails5')">Show Project<br><i class="fas fa-rocket"></i></button>  
                    </div>  
                </div>
                <div class="project6">
                        <div> 
                            <span class="btn btn-primary">HTML - EJS</span>
                            <span class="btn btn-secondary">NodeJs - Socket.io, Express</span>
                            <span class="btn btn-success">JavaSript</span>
                            <span class="btn btn-danger">Firebase - FireStore(DB)</span>
                            <span class="btn btn-dark">SASS</span>
                        </div>
    
                        <h3>Defender</h3>
    
                        <div class="Button"> 
                            <button>View Source<br><i class="fab fa-github-square"></i></button>
                            <button onclick="ShowProject('ProjectDetails6')">Show Project<br><i class="fas fa-rocket"></i></button>  
                        </div>  
                    </div> 
                    <div class="project7">
                            <div> 
                                <span class="btn btn-primary">HTML - EJS</span>
                                <span class="btn btn-secondary">NodeJs - Socket.io, Express</span>
                                <span class="btn btn-success">JavaSript</span>
                                <span class="btn btn-danger">Firebase - FireStore(DB)</span>
                                <span class="btn btn-dark">SASS</span>
                            </div>
        
                            <h3>Slither Classic</h3>
        
                            <div class="Button"> 
                                <button>View Source<br><i class="fab fa-github-square"></i></button>
                                <button onclick="ShowProject('ProjectDetails7')">Show Project<br><i class="fas fa-rocket"></i></button>  
                            </div>  
                        </div> 
            </section>
            <div class="ConnectLines3"></div>
            <section class="Contact text-light">
                <i class="fas fa-envelope-open-text"></i>

                <h1>Get In Touch</h1>
                <p>
                    You want to collaborate or have questions? Greate!!
                    <br>
                    Please do get in touch with me. Use the form below or find other ways neccesary; 
                    <br>
                    I won't miss it!
                </p>
                
                <div class="contactLinks">
                    <a href="https://github.com/TheRigidNinja?tab=repositories" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/brian-shisanya-7a5a6516a/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://codepen.io/minotauro49" target="_blank"><i class="fab fa-codepen"></i></a>
                    <a href="https://docs.google.com/document/d/1h4KS1pYusOZ5Q56ovvfGQ86N0oafmKD_SWUzvI0iIoE/edit?usp=sharing" target="_blank"><i class="far fa-address-card"></i></a>
                    <a href="##" onclick="ShowEmailPhone()"><i class="fas fa-envelope"></i> &nbsp&nbsp | &nbsp&nbsp<i class="fas fa-phone"></i></a>
                </div>

                <form method="POST" action="send">
                    <input type="Name" name="name" placeholder="Name" required>
                    <input type="email" name="email" placeholder="email" required>
                    <input type="Subject" name="subject" placeholder="Subject"required>
                    <textarea placeholder="Message" name="message" required></textarea>
                    <button><i class="fas fa-paper-plane"></i></button>
                </form>
            </section>
        </div>
    </div>




    <div class="MoreInfo">
        <div class="ProjectDetails1">
            <div class="ImgSection">
                <div class="imgCont"> 
                    <img src="../public/IMG/Projects/Chat_app.png">
                </div>
            </div>

            <div class="ContentSection"> 
                <div class="MoreContent">
                    <h1>Chat App</h1>
                    <p>
                        <li><strong>Category:</strong> Website / Web-app</li>
                        <li><strong>Role:</strong> Design/Code</li>
                        <li><strong>Date:</strong> 2019</li> 
                    </p>
                    <p>
                        For a personal project, I designed and coded this web-app. The initial motivation was to make a simple web-app where it incorporates the use of Nodejs - Socket.io, unfortunately, I fell into the trap of making it better, which lead me to spend more time than initially planned to make this message like app.
                    </p>
    
                    <h4>Technology Used:</h4>
                    <div class="technologies">
                        <span class="btn btn-primary">HTML - EJS</span>
                        <span class="btn btn-secondary">NodeJs - Socket.io, Express</span>
                        <span class="btn btn-success">JavaSript</span>
                        <span class="btn btn-danger">Firebase - FireStore(DB)</span>
                        <span class="btn btn-dark">SASS</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="ProjectDetails2" >
            <div class="ImgSection">
                <div class="imgCont"> 
                    <img src="../public/IMG/Projects/FullHome.png">
                </div>
            </div>
    
            <div class="ContentSection"> 
                <div class="MoreContent">
                    <h1>Studentaccomm</h1>
                    <p>
                        <li><strong>Category:</strong> Website</li>
                        <li><strong>Role:</strong> Design</li>
                        <li><strong>Date:</strong> 2019</li> 
                    </p>
                    <p>
                        For a personal project, I designed and coded this web-app. The initial motivation was to make a simple web-app where it incorporates the use of Nodejs - Socket.io, unfortunately, I fell into the trap of making it better, which lead me to spend more time than initially planned to make this message like app.
                    </p>
    
                    <h4>Technology Used:</h4>
                    <div class="technologies">
                        <span class="btn btn-primary">Adobe XD CC</span>
                    </div>
                </div>
        </div>
    </div>

        <div class="ProjectDetails3" >
            <div class="ImgSection">
                <div class="imgCont"> 
                    <img src="../public/IMG/Projects/App.png">
                </div>
            </div>

            <div class="ContentSection"> 
                <div class="MoreContent">
                <h1>App landing page</h1>
                <p>
                    <li><strong>Category:</strong> Website</li>
                    <li><strong>Role:</strong> Code</li>
                    <li><strong>Date:</strong> 2019</li> 
                </p>
                <p>
                    For a personal project, I designed and coded this web-app. The initial motivation was to make a simple web-app where it incorporates the use of Nodejs - Socket.io, unfortunately, I fell into the trap of making it better, which lead me to spend more time than initially planned to make this message like app.
                </p>
    
                <h4>Technology Used:</h4>
                <div class="technologies">
                    <span class="btn btn-primary">HTML5</span>
                    <span class="btn btn-success">jQuery</span>
                    <span class="btn btn-dark">SASS</span>
                </div>
            </div>
        </div>
        </div>

        <div class="ProjectDetails4" >
            <div class="ImgSection">
                <div class="imgCont"> 
                    <img src="../public/IMG/Projects/Portfolio.png">
                </div>
            </div>

            <div class="ContentSection"> 
                <div class="MoreContent">
                    <h1>My Portfolio</h1>
                    <p>
                        <li><strong>Category:</strong> Website</li>
                        <li><strong>Role:</strong> Design / Code</li>
                        <li><strong>Date:</strong> 2019</li> 
                    </p>
                    <p>
                        For a personal project, I designed and coded this web-app. The initial motivation was to make a simple web-app where it incorporates the use of Nodejs - Socket.io, unfortunately, I fell into the trap of making it better, which lead me to spend more time than initially planned to make this message like app.
                    </p>
    
                    <h4>Technology Used:</h4>
                    <div class="technologies">
                        <span class="btn btn-primary">HTML5</span>
                        <span class="btn btn-success">jQuery</span>
                        <span class="btn btn-dark">SASS</span>
                    </div>
            </div>
        </div>
        </div>

            <div class="ProjectDetails5" >
                    <div class="ImgSection">
                            <div class="imgCont"> 
                                <img src="../public/IMG/Projects/Todo.png">
                            </div>
                        </div>
            
                        <div class="ContentSection"> 
                            <div class="MoreContent">
                                <h1>Todos</h1>
                                <p>
                                    <li><strong>Category:</strong>Website/Web-App</li>
                                    <li><strong>Role:</strong> Design / Code</li>
                                    <li><strong>Date:</strong> 2019</li> 
                                </p>
                                <p>
                                    For a personal project, I designed and coded this web-app. The initial motivation was to make a simple web-app where it incorporates the use of Nodejs - Socket.io, unfortunately, I fell into the trap of making it better, which lead me to spend more time than initially planned to make this message like app.
                                </p>
                
                                <h4>Technology Used:</h4>
                                <div class="technologies">
                                    <span class="btn btn-primary">React-Redux</span>
                                    <span class="btn btn-success">JavaScript</span>
                                    <span class="btn btn-dark">CSS</span>
                                </div>
                        </div>
                    </div>
            </div>
            
            <div class="ProjectDetails6" >
                    <div class="ImgSection">
                            <div class="imgCont"> 
                                <img src="../public/IMG/Projects/SlitherClassic.png">
                            </div>
                        </div>
            
                        <div class="ContentSection"> 
                            <div class="MoreContent">
                                <h1>Slither-Classic</h1>
                                <p>
                                    <li><strong>Category:</strong> Game</li>
                                    <li><strong>Role:</strong> Design / Code</li>
                                    <li><strong>Date:</strong> 2019</li> 
                                </p>
                                <p>
                                    For a personal project, I designed and coded this web-app. The initial motivation was to make a simple web-app where it incorporates the use of Nodejs - Socket.io, unfortunately, I fell into the trap of making it better, which lead me to spend more time than initially planned to make this message like app.
                                </p>
                
                                <h4>Technology Used:</h4>
                                <div class="technologies">
                                    <span class="btn btn-primary">HTML5</span>
                                    <span class="btn btn-success">JavaScript</span>
                                    <span class="btn btn-dark">CSS</span>
                                </div>
                        </div>
                    </div>
                    </div>
                    <div class="ProjectDetails7" >
                            <div class="ImgSection">
                                    <div class="imgCont"> 
                                        <img src="../public/IMG/Projects/Pizza.png">
                                    </div>
                                </div>
                    
                                <div class="ContentSection"> 
                                    <div class="MoreContent">
                                        <h1>Pizza website</h1>
                                        <p>
                                            <li><strong>Category:</strong> Website</li>
                                            <li><strong>Role:</strong> Code</li>
                                            <li><strong>Date:</strong> 2019</li> 
                                        </p>
                                        <p>
                                            For a personal project, I designed and coded this web-app. The initial motivation was to make a simple web-app where it incorporates the use of Nodejs - Socket.io, unfortunately, I fell into the trap of making it better, which lead me to spend more time than initially planned to make this message like app.
                                        </p>
                        
                                        <h4>Technology Used:</h4>
                                        <div class="technologies">
                                            <span class="btn btn-primary">HTML5</span>
                                            <span class="btn btn-success">JavaScript</span>
                                            <span class="btn btn-dark">Sass</span>
                                        </div>
                                </div>
                            </div>
                            </div>
    </div>
    
<style>
    pre{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
</style>

</body>
</html>