* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  letter-spacing: -0.85px;
  list-style: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.Home, div[class*=col] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.bodyContent {
  position: absolute;
  width: 100%;
  height: 100%;
}

body {
  background: -webkit-gradient(linear, right top, left bottom, from(#3f51b5), to(#744c72)) fixed;
  overflow: hidden;
}

.bodyContent {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-image: url(../IMG/backg.svg);
  background-repeat: no-repeeat;
  background-size: cover;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.container {
  height: 100%;
}

section {
  position: relative;
  min-height: 100%;
  width: 100%;
  padding: 50px 10px;
  margin-bottom: 50px;
  max-width: 1200px;
}

button {
  -webkit-transition: all cubic-bezier(0.99, -0.73, 0.55, 1.47) 0.3s;
  transition: all cubic-bezier(0.99, -0.73, 0.55, 1.47) 0.3s;
  background-color: #39c1bc;
  background-color: #39c1bc;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 60px;
  border: none;
  margin-top: 30px;
}

button:hover {
  letter-spacing: 5px;
  -webkit-box-shadow: 0px 5px 10px rgba(57, 193, 188, 0.2);
          box-shadow: 0px 5px 10px rgba(57, 193, 188, 0.2);
}

button:focus {
  outline: none;
}

button:active {
  -webkit-transition: all linear .1s;
  transition: all linear .1s;
  -webkit-transform: scale(0.95, 0.95);
          transform: scale(0.95, 0.95);
}

.Home {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

h1 {
  font-size: 60px;
  line-height: 89.6px;
  font-weight: 900;
}

h3 {
  font-weight: 900;
}

mark {
  color: white;
  background: rgba(0, 0, 0, 0.1);
  padding: 2px 2px;
  border-radius: 2px;
  font-weight: 900 !important;
}

.Home img {
  margin-bottom: 2px;
  width: 100px;
}

.intro {
  padding-bottom: 80px;
}

.more {
  border-color: rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, 0.04);
  margin-top: 100px;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.more:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: rgba(0, 0, 0, 0.1);
}

.ConnectLines, .ConnectLines2, .ConnectLines3 {
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  width: 1px;
  height: 85px;
  left: 50%;
}

.aboutBtn {
  position: absolute;
  top: calc(100% - 180px);
}

.About {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: white;
  padding: 0px;
}

.About .technical {
  padding: 0px 10px;
  border-radius: 60px;
  background: rgba(0, 0, 0, 0.3);
}

.About .Goals span {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 10px 22px;
  border-radius: 50%;
  color: #33aca9;
  font-size: 25px;
  cursor: default;
}

.About .Goals span:hover {
  border: 8px solid rgba(255, 255, 255, 0.2);
  padding: 0px 14px;
  font-size: 30px;
}

.About .goal1 div, .About .goal2 div, .About .goal3 div, .About .goal4 div {
  position: relative;
  left: 35px;
}

.About .goal1 span, .About .goal2 span, .About .goal3 span, .About .goal4 span {
  position: absolute;
  left: 15px;
}

.About #Skils {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  display: inline-block;
}

.About #Skils span {
  display: inline-block;
  padding: 10px 10px;
  margin-top: 4px;
  border-radius: 5px;
  background: linear-gradient(225deg, #3f51b5, #744c72);
  cursor: default;
}

.About #Skils span:hover {
  background: linear-gradient(225deg, #3f51b5 90%, #744c72);
}

.About .Summary,
.About .Goals,
.About .Development,
.About .Learning,
.About .Summary {
  margin-bottom: 40px;
}

.About .Summary {
  margin-bottom: -20px;
}

.About img {
  width: 150px;
  opacity: .6;
}

.About .Learning img {
  width: 200px;
}

.About p {
  font-size: 18px;
  line-height: 25.6px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.75);
}

.About h2 {
  font-weight: 700;
  font-size: 34px;
  margin: 30px 0px;
}

.Overview p {
  text-align: center;
}

div[class*=col] {
  padding: 20px 50px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 800px) {
  #Skils, .Goals, .Overview {
    text-align: center;
  }
  h1 {
    font-size: 30px !important;
  }
  p {
    font-size: 14px !important;
  }
  h3 {
    font-size: 16px !important;
  }
  h4 {
    font-size: 20px !important;
  }
  .goal1 span, .goal1 div, .goal2 span, .goal2 div, .goal3 span, .goal3 div, .goal4 span, .goal4 div {
    position: relative !important;
    left: 0px !important;
  }
  .col-sm-12, .row, .col-12 {
    padding: 20px 10px !important;
    margin: 0px !important;
  }
  .Home img {
    width: 80px;
  }
  .Home .intro {
    padding-bottom: 50px;
  }
  .About, .Work {
    padding: 0px !important;
    width: 95% !important;
    left: 3%;
  }
  .Work {
    margin-top: 60px !important;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
}
/*# sourceMappingURL=Index.css.map */